<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mombo">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- this line adds the required permission request -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Main.AlarmActivity" />
        <activity android:name=".Main.CallActivity" />
        <activity android:name=".Main.CameraActivity" />
        <activity android:name=".Main.FirstActivity" />
        <activity android:name=".Main.FirstActivity2" />
        <activity android:name=".Main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.CheckActivity" />
        <activity android:name=".Main.ChattingActivity" />

        <activity android:name=".Myaccount.MyaccountActivity" />
        <activity android:name=".Myaccount.PasswordResetActivity" />
        <activity android:name=".Myaccount.ProfileResetActivity" />

        <activity android:name=".SignUp.ChoiceActivity" />
        <activity android:name=".SignUp.JoinFamActivity" />
        <activity android:name=".SignUp.JoinMomActivity" />

        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity10" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity9" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity8" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity6" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity7" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity5" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity4" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity3" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity2" />
        <activity android:name=".Mom_SelfDiagnosis.MomSelfdiagnosisActivity1" />

        <activity android:name=".SignUp.ChoiceActivity" />
        <activity android:name=".SignUp.JoinFamActivity" />
        <activity android:name=".SignUp.JoinMomActivity" />


        <service android:name=".MyFirebaseMessagingService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


    </application>




</manifest>