<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mombo">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- this line adds the required permission request -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Main.alarm" />
        <activity android:name=".Main.call" />
        <activity android:name=".Main.camera" />
        <activity android:name=".Main.FirstActivity" />
        <activity android:name=".Main.FirstActivity2" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Record" />
        <activity android:name=".Main.talk" />

        <activity android:name=".Myaccount.myaccount" />
        <activity android:name=".Myaccount.PasswordResetActivity" />
        <activity android:name=".Myaccount.ProfileResetActivity" />

        <activity android:name=".SignUp.check" />
        <activity android:name=".SignUp.ChoiceActivity" />
        <activity android:name=".SignUp.Join_fam" />
        <activity android:name=".SignUp.Join_mom" />

        <activity android:name=".SelfDiagnosis.selfdiagnosis11" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis10" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis9" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis8" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis6" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis7" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis5" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis4" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis3" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis2" />
        <activity android:name=".SelfDiagnosis.selfdiagnosis" />




        <service android:name=".MyFirebaseMessagingService">
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

    <service
        android:name=".MyJobService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
        </intent-filter>
    </service>

       <meta-data
           android:name="com.google.firebase.messaging.default_notification_color"
           android:resource="@color/colorAccent" />-->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


</manifest>